@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes waterFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.model {
  animation: waterFlow 8s linear infinite; /* Longer duration for smoother flow */
  background: linear-gradient(135deg, rgba(225, 204, 236, 0.7), rgba(255, 255, 255, 0.5)); /* Adjusted colors for a softer look */
  background-size: 300% 300%; /* Increase size for more gradual movement */
}
